@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
          --primary: #edeef1,
          --secondary: #252329,
          --accent: #0067e4,
          --green: #00FF00,
          --mint: #05CE78,
          --aerogreen: #05CE78
}






